.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-color: #f9f9f9; /* Light beige background color */
}

.headline {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #4b4b4b; /* Dark grey text color */
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px; /* Set a fixed width for the form */
    padding: 2rem;
    background: #eae4d1; /* Soft beige background for the form */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add some shadow */
}

.login-form input {
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px;
}

.login-form button {
    padding: 10px;
    background-color: #a69f8d; /* Beige color for button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #8e7b67; /* Darker shade on hover */
}
