/* UploadPage.css */
.upload-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #FAF7F0; /* Light background color */
    padding: 20px;
}

.headline {
    color: #4A4947; /* Dark gray for headline */
    font-size: 2.5rem; /* Larger font size for emphasis */
    margin-bottom: 20px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    width: 300px; /* Form width */
}

.input-field {
    padding: 10px; /* Input field padding */
    margin-bottom: 15px; /* Space between input fields */
    border: 1px solid #B17457; /* Border color matching the brown */
    border-radius: 5px; /* Rounded corners */
    font-size: 1rem; /* Font size for input fields */
}

.description-field {
    height: 100px; /* Height for description textarea */
}

.upload-button {
    background-color: #B17457; /* Brown button */
    color: #FAF7F0; /* Light color for button text */
    padding: 10px; /* Button padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 1rem; /* Button font size */
    cursor: pointer; /* Pointer cursor on hover */
}

.upload-button:hover {
    background-color: #4A4947; /* Darker gray on hover */
}
